#home {
  background-image: url(../assets/img/background/IMG_5152.JPG);
  height: 100vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

#about {
  background-image: url(../assets/img/background/STScI-01EVVD7503HEB67007NF9B6EE5.jpg);
  height: 100vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

#engineering {
  background-image: url(../assets/img/background/IMG_5154.JPG);
  height: 100vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

#research {
  background-image: url(../assets/img/background/IMG_5155.JPG);
  height: 100vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

#contact {
  background-image: url(../assets/img/background/STScI-01EVVKN43WKPQ3WSV9Y9887M47.jpg);
  height: 100vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

h1 {
  text-align: center;
  color: white ;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  text-align: center;
  color: white ;
  font-family: 'Roboto Mono', monospace;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

