#home {
  background-image: url(../assets/img/background/IMG_5152.JPG);
  height: 100vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

#about {
  padding-top: 100px;
  background-image: url(../assets/img/background/STScI-01EVVD7503HEB67007NF9B6EE5.jpg);
  height: 100vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

#engineering {
  padding-top: 100px;
  background-image: url(../assets/img/background/IMG_5154.JPG);
  height: 100vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

#research {
  padding-top: 100px;
  background-image: url(../assets/img/background/IMG_5155.JPG);
  height: 100vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

#contact {
  padding-top: 100px;
  background-color: #333;
  height: 50vh;
  display: block;
  background-size: cover;
  max-width: unset;
  justify-content: center;
}

h1 {
  text-align: center;
  color: white ;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  line-height: 1.2;
  color: white ;
  text-align: center;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

img {
  padding-top: 180px;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}