body {
    background-color: #FDF5E6;
    font-family: 'Lato', sans-serif;
}
figure {
    border: 3px #000000 solid;
    display: block;
    max-width: 320px;
    margin: auto;
}

img {
    max-width: 320px;
    max-height: 240px;
}

figcaption {
    background-color: #222;
    color: #FDF5E6;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
